img {
  width: 60%;
  height: auto;
}

.itemContainer {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.itemContainer::-webkit-scrollbar {
  display: none;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
}

.cartBtnGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  height: "2rem";
  min-width: 3rem !important;
}
